<div id="header">
  <div class="title">
    <span class="main">chartjs-plugin-doughnutlabel-v3</span>
    <span class="name">Sample Chart</span>
  </div>
  <div class="caption">
    <a href="http://www.chartjs.org" target="_blank">Chart.js</a> plugin for
    doughnut chart to display lines of text in the center
  </div>
  <div class="links">
    <a
      class="btn btn-gh"
      target="_blank"
      href="https://github.com/FreedomRings/chartjs-plugin-doughnutlabel-v3"
      >View the source on GitHub</a
    >
  </div>
</div>
<button id="randomizeData" class="centeredButton" (click)="randomizeData()">
  Click to Randomize Chart Data
</button>

<div class="chartContainer">
  <canvas id="chart1" class="centeredCanvas" width="500" height="500"></canvas>
</div>
